

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDiv .h1Link {
  margin: 0;
  padding: 30px 13px;
  text-decoration: none;
}

h1 {
  display: inline;
}

nav {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #9dc5faaf;
  border: 1px solid #9dc5fada;
}

nav a {
  padding: 25px 10px;
  align-self: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #9dd0fa;
}

.input{
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

select {
  width: 200px;
}

input {
  width:200px;
}

.btn {
  margin-left: 5px;
}

li {
  list-style: none;
}

/* NEW ORDER PAGE */
.orderform {
  padding-top: 30px;
}

.orderform a {
  padding: 10px;
  text-decoration: none;
}

/* LAYOUT */
.layout {
  min-height: 100vh;
}

.backgroundImg {
  background-color: #9dc5fa;
  background-image: url('https://i.imgur.com/yqLyQfs.png');
  background-position: center;
  background-size: 160px;
  background-repeat: repeat;
  height: 72vh;
  display: flex;
  align-items: center;
}

/* HOME PAGE */
.homeText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 40px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.692);
}

.homeText h4 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.about {
  padding: 30px;
}

.footerDiv {
  height: 20px;
  display: flex;
  align-items: center;
  padding: 13px;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%
}

.footer {
  font-size: 10px;
  margin: 0;
}

/* ----------------- */
/* ----------------- */
/* RESPONSIVE DESIGN */
/* ----------------- */
/* ----------------- */

/* ------ */
/* DESKTOP */
/* ------- */

@media only screen and (min-width:1000px) {
  .backgroundImg {
    background-image: url('https://i.imgur.com/DBsiFBl.jpeg');
    background-size: 100vw;
    background-position: center;
  }

}

/*  ----- */
/* TABLET */
/* ------- */
@media only screen and (min-width:754px) {

  .backgroundImg {
    background-image: url('https://i.imgur.com/DBsiFBl.jpeg');
    background-size: 100vw;
    background-position: center;
  }


}


.profile {
  height: 150px;
}

.imgcontainer {
  margin-left: 20px;

}

.about {
  margin-top: 15px;
  margin-bottom: 40px;
}
.team {
  margin-top: 75px;
}


@media only screen and (min-width: 700px) {

.app {
  padding-left: 20px;
  padding-right: 20px;
}

.about-page {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 800px;
  margin: auto;
}

.team-member {
  display: flex;
  flex-direction: row;
}

.bio {
  text-align: left;
}

.profile {
  margin: 10px;
}

}
